<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ProcessData</servlet-name>
        <servlet-class>com.bg.Servlets.ProcessData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessItem</servlet-name>
        <servlet-class>com.bg.Servlets.ProcessItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TooltipServlet</servlet-name>
        <servlet-class>com.bg.Servlets.TooltipServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessItemArray</servlet-name>
        <servlet-class>com.bg.Servlets.ProcessItemArray</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProcessData</servlet-name>
        <url-pattern>/ajax/ProcessData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessItem</servlet-name>
        <url-pattern>/ajax/ProcessItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TooltipServlet</servlet-name>
        <url-pattern>/ajax/TooltipServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessItemArray</servlet-name>
        <url-pattern>/ajax/ProcessItemArray</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
